*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.event-container {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 15px;
    row-gap: 40px;
    padding: 30px;
}
.events {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.btn-primary {
    margin-top: 10px;
}
.btn-secondary {
    margin-top: 10px;
}